@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(199, 199, 199);
}

h1{
    background-image: linear-gradient(to right, white, rgb(255, 85, 0) 30%, #ff5500 70%, white);
    color: white;

    text-align: center;

    padding: 10px;
}


main{
    position: relative;
    min-width: 200px;
    max-width: 1200px;
    height: 100%;

    margin: auto;
    

    background-color: white;
}

div.nav{
    position: absolute;
    display: inline-flex;
    position: absolute;
    width: 25%;
    height: auto;

    background-color: rgba(0, 0, 0, 0.349);

    padding: 30px;

    left: 100%;
    transform: translateX(-100%);

}

nav{   
    position: sticky;
    
}

nav a{
    text-decoration: none;
    color: black;
}

div.track{
    padding: 30px;
}