@charset "UTF-8";




*{
    padding: 0px;
    margin: 0px;
}


header{
    max-height: 10vh;
}

main{
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, rgb(82, 82, 165), rgb(224, 108, 108));

    height: 100vh;
    position: relative;
    margin: auto;
    
}

.texto{
    background-color: rgba(0, 0, 0, 0.24);
    padding: 10px;

    border-radius: 10px;

    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

p{
    padding: 10px 10px;
}

a.next{
    
}